<!-- Archdiocese Index -->
<nav class="ui inverted blue menu">
  <div href="" ui-sref="location.archdioceses" class="item">
    <b>
      <i class="icon building"></i>
      Archdiocese
    </b>
  </div>
  <a is-active-nav class="item" ui-sref="location.archdioceses.statistics"><i class="icon ion-arrow-graph-up-right"></i>Statistics</a>
  <a is-active-nav class="item" ui-sref="location.archdioceses.list"><i class="icon fa fa-list"></i>List Archdiocese</a>
  <a is-active-nav class="item" ui-sref="location.archdioceses.add"><i class="icon fa fa-plus"></i>Register Archdiocese</a>
</nav>
<div ui-view></div>
