<!-- Organisation Index -->
<nav class="ui inverted blue menu">
  <div href="" ui-sref="location.organisations" class="item">
    <b>
      <i class="icon building"></i>
      Organisation
    </b>
  </div>
  <a is-active-nav class="item" ui-sref="location.organisations.statistics"><i class="icon ion-arrow-graph-up-right"></i>Statistics</a>
  <a is-active-nav class="item" ui-sref="location.organisations.list"><i class="icon fa fa-list"></i>List Organisation</a>
  <a is-active-nav class="item" ui-sref="location.organisations.add"><i class="icon fa fa-plus"></i>Register Organisation</a>
</nav>
<div ui-view></div>
