<!-- Parishes' List -->

<table class="ui inverted blue table" st-safe-src="rowCollection" st-table="displayedCollection">
  <thead>
    <tr class="ui form">
    <div class="fields">
       <th><input type="text" st-search="'id'" placeholder="#"  ></th>
       <th><input type="text" st-search="'name'" placeholder="Name"  ></th>
       <th><input type="text" st-search="'location'" placeholder="Location"  ></th>
       <th><input type="text" st-search="'in_charge'" placeholder="In Charge"  ></th>
       <th><input type="text" st-search="'updated_at'" placeholder="Updated At"  ></th>
       <th><input type="text" st-search="'created_at'" placeholder="Created At"  ></th>
    </div>
  </tr></thead><tbody>
    <tr ng-repeat="row in displayedCollection"  st-select-row="row">
                  <td>{{row.id}}</td>
                  <td>{{row.name}}</td>
                  <td>{{row.location}}</td>
                  <td>{{row.in_charge}}</td>
                  <td>{{row.updated_at}}</td>
                  <td>{{row.created_at}}</td>
                                    <td width="100">
       <div class="ui buttons">
       <div data-content="Edit Parish Row">
              <button class="ui postive button">Edit</button>
       </div>
              <div class="or"></div>
       <div data-content="Delete Parish Row">
              <button class="ui negative button">Delete</button>
       </div>
      </div>
    </tr>
    <tr>
<th colspan="1">{{records}} Records</th>
      <th colspan="6" style="cursor: pointer;">
        <div st-pagination="" st-items-by-page="recordsPerPage" st-displayed-pages="pages">
        </div>
    </tr>
  </tbody>
</table>

<script>
$(document).ready(function(){
    $('.filterable .btn-filter').click(function(){
        var $panel = $(this).parents('.filterable'),
        $filters = $panel.find('.filters input'),
        $tbody = $panel.find('.table tbody');
        if ($filters.prop('disabled') == true) {
            $filters.prop('disabled', false);
            $filters.first().focus();
        } else {
            $filters.val('').prop('disabled', true);
            $tbody.find('.no-result').remove();
            $tbody.find('tr').show();
        }
    });
});
</script>